body {
    background-color: rgb(24, 25, 28);
    color: rgb(158, 162, 168);
    font-family: "monospace", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}